.about_section {
  .partners_section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 73px;

    .partners_line {
      width: 100%;
      position: relative;
      margin-bottom: 101px;
    }

    .partners_line:before {
      content: '';
      border-top: 2px solid #f3d1bf;
      width: 100%;
      height: 10px;
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 72px;
    }
  }

  .about_us_section {
    display: flex;
    justify-content: start;
    align-items: center;

    .about_design_images {
      width: 556px;
      height: 585px;
      background-image: url("../../images/about_design_images.png");
      background-repeat: no-repeat;
      margin-top: 101px;
      margin-right: 130px;
    }

    .about_description {
      text-align: start;
      margin-top: 171px;

      .p_about {
        color: #ef6d58;
        letter-spacing: 1px;
        margin: 0;
        font-size: 20px;
      }

      .h1_about {
        color: #391400;
        font-size: 40px;
        margin-top: 20px;
      }

      .p_service {
        margin-top: 26px;
        font-size: 20px;
        color: #391400;
      }

      .p_ability {
        color: #391400;
        font-size: 15px;
        margin-top: 18px;
      }

      .p_ability_mob {
        display: none;
      }

      button {
        width: 139px;
        margin-top: 34px;
        border: transparent;
        background-color: #ffffff;
        border-radius: 10px;
        color: #391400;
        padding: 18px 34px;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .about_studio_numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 161px;

    div {
      width: 391px;
      height: 176px;
      border: 1px solid #f3d1bf;
      box-sizing: border-box;
      text-align: start;
    }

    h1 {
      color: #391400;
      padding: 45px 266px 13px 48px;
      margin: 0;
      font-size: 30px;
    }

    p {
      color: #391400;
      margin: 0;
      padding: 0 144px 38px 48px;
      font-size: 20px;
    }
  }

  .how_we_work_section {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 140px;

    .how_we_work_description {
      text-align: start;

      .how_we_work_p {
        margin: 0;
        color: #ef6d58;
        font-size: 20px;
      }

      h1 {
        color: #391400;
        margin-top: 17px;
        font-size: 40px;
      }

      .how_we_work_skills {
        color: #391400;
        margin-top: 31px;
        margin-bottom: 0;
      }

      .how_we_work_skills_mini {
        display: none;
      }
    }
  }

  .how_we_work_numbers {
    margin-left: 131px;

    div {
      display: flex;
      align-items: center;
      text-align: start;
      margin-bottom: 32px;

      h1 {
        font-size: 50px;
        color: #391400;
        margin: 0 66px 0 0;
        text-align: center;
      }

      p {
        color: #391400;
        font-size: 25px;
        font-weight: bold;
        margin: 0;
      }
    }
  }

  .line {
    width: 100%;
    position: relative;
    margin-top: 108px;
    padding-bottom: 127px;
  }

  .line:before {
    content: '';
    border-top: 2px solid #f3d1bf;
    width: 100%;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 72px;
  }

  .video_reel_section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .video_reel {
      width: 570px;
      height: 368px;
      background-image: url("../../images/video_reel.png");
      background-repeat: no-repeat;
      background-size: cover;
    }

    .video_reel_description {
      text-align: start;
      margin-top: 90px;
      max-width: 469px;
      margin-left: 100px;

      p {
        color: #ef6d58;
        font-size: 20px;
        margin: 0;
        letter-spacing: 1px;
      }

      h1 {
        margin: 17px 0 0 0;
        font-size: 40px;
        color: #391400;
      }

      .video_reel_p {
        margin-top: 28px;
        color: #391400;
        font-size: 20px;
      }
    }
  }

  .features_section {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 268px;

    .features_description {
      text-align: start;

      .features_p {
        color: #ef6d58;
        font-size: 20px;
        letter-spacing: 1px;
        margin: 0;
      }

      h1 {
        font-size: 40px;
        color: #391400;
        margin-top: 20px;
        margin-bottom: 0;
      }

      .features_service_p {
        color: #391400;
        font-size: 20px;
        margin: 26px 0 0 0;
      }

      .features_service_p_mini {
        display: none;
      }

      .features_ul {
        list-style: none;
        padding-left: 0;
        margin-top: 26px;

        li {
          display: flex;
          padding-bottom: 16px;
          align-items: center;

          p {
            margin: 0;
            padding-left: 16px;
            color: #391400;
            font-size: 16px;
          }
        }
      }
    }

    .features_images {
      width: 528px;
      height: 551px;
      background-image: url("../../images/features_pic.png");
      background-repeat: no-repeat;
      margin-left: 171px;
    }
  }

  .features_block {
    display: flex;
    text-align: start;
    align-items: center;
    justify-content: start;
    margin-top: 202px;

    .features_block_description {
      .features_block_p {
        color: #ef6d58;
        font-size: 20px;
        letter-spacing: 1px;
        margin: 0;
      }

      .features_block_p_long_run {
        color: #391400;
        font-size: 20px;
        margin: 26px 0 0 0;
      }
    }
    .features_block_presentation {
      margin-left: 130px;
      display: flex;
      justify-content: start;
      align-items: center;
      position: relative;
      .professional_block {
        height: 336px;
        width: 336px;
        border-radius: 10px;
        border: 1px solid #f3d1bf;
        background-color: #ffffff;

        .oval_features {
          position: absolute;
          top: 48px;
          left: 48px;
        }
        .shape_features {
          position: absolute;
          top: 72px;
          left: 72px;
          z-index: 1;
        }
        h4 {
          padding-top: 164px;
          font-size: 24px;
          color: #391400;
          margin: 0;
          padding-left: 48px;
          padding-right: 144px;
        }
        p{
          margin: 19px 0 0 0;
          padding-left: 48px;
          color: #391400;
          font-size: 16px;
          padding-right: 48px;
        }
      }
      .accessibility_block {
        height: 272px;
        width: 336px;
        border-radius: 10px;
        border: 1px solid #f3d1bf;
        margin-top: 64px;

        h4 {
          padding-top: 105px;
          font-size: 24px;
          color: #391400;
          margin: 0;
          padding-left: 48px;
          padding-right: 266px;
        }
        p{
          margin: 19px 0 0 0;
          padding-left: 48px;
          color: #391400;
          font-size: 16px;
          padding-right: 48px;
        }
      }
    }
  }
  .service_section {
    margin-top: 213px;
    .service_description {
      display: flex;
      justify-content: start;
      align-items: start;

      .service_images {
        width: 580px;
        height: 570px;
        background-image: url("../../images/service_image.png");
        background-repeat: no-repeat;
        margin-right: 120px;
      }
      .about_service{
        margin-top: 39px;
        text-align: start;
        .about_service_p{
          color: #ef6d58;
          font-size: 20px;
          letter-spacing: 1px;
          margin: 0;
        }
        h1 {
          font-size: 40px;
          color: #391400;
          margin-top: 20px;
        }
        .agency_provides_p {
          margin: 26px 0 0 0;
          color: #391400;
          font-size: 20px;
        }
        .about_service_quote {
          display: flex;
          justify-content: start;
          align-items: center;
          margin-top: 31px;
          img {
            margin-right: 20px;
          }
          p{
            font-size: 14px;
            color: #391400;
            margin: 0;
          }
        }
      }
      .about_service_jenny {
        font-size: 16px;
        color: #391400;
        margin: 12px 0 0 0;
        padding-left: 80px;
      }
      button {
        width: 138px;
        height: 48px;
        background-color: #ffffff;
        border: transparent;
        border-radius: 15px;
        color: #391400;
        font-weight: bold;
        font-size: 14px;
        margin-top: 36px;
        cursor: pointer;
      }
      .agency_provides_p_mini {
        display: none;
      }
    }
    .service_block {
      margin-top: 141px;
      text-align: start;
      padding-bottom: 128px;
      p {
        color: #ef6d58;
        font-size: 20px;
        letter-spacing: 1px;
        margin: 0;
      }
      h1 {
        color: #391400;
        font-size: 40px;
        margin: 14px 0 0 0;
      }
      .service_block_present {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-top: 35px;
        div {
          width: 391px;
          height: 400px;
          border-radius: 10px;
          border: 1px solid #f3d1bf;
          position: relative;
          h4 {
            font-size: 24px;
            color: #391400;
            margin: 0;
            padding: 169px 260px 19px 48px
          }
          p{
            font-size: 16px;
            color: #391400;
            margin: 0;
            padding: 0 48px 110px;
          }
        }
      }
      .service_block_present div img:first-child {
        position: absolute;
        top: 48px;
        right: 262px;
        left: 48px;
        bottom: 272px;
      }
      .service_block_present div img:nth-child(2) {
        position: absolute;
        top: 72px;
        right: 286px;
        left: 72px;
        bottom: 296px;
      }
    }
  }

}


@media (max-width: 1200px) {
  .about_section {

    .partners_section {
      justify-content: center;

      .partner {
        width: 50%;
        margin-bottom: 25px;
      }
    }

    .video_reel_section {

      .video_reel_description {
        margin-left: 50px;
      }
    }

    .features_section {
      .features_images {
        width: 329px;
        height: 328px;
        background-image: url("../../images/features_pic_mini.png");
        background-repeat: no-repeat;
        margin-left: 100px;
      }
    }

    .features_block {

      .features_block_presentation {
        margin-left: 50px;
      }
    }

    .service_section {
      .service_description {
        .service_images {
          width: 329px;
          height: 327px;
          background-image: url("../../images/service_image_mini.png");
          background-repeat: no-repeat;
          margin-right: 120px;
        }
      }
      .service_block {
        .service_block_present{
          div {
            width: 329px;
            height: 416px;
          }
        }
      }
    }
  }
}

@media (max-width: 1160px) {
  .about_section {

    .about_studio_numbers {
      div {
        width: 329px;
      }

      p {
        padding-right: 50px;
      }
    }

    .video_reel_section {
      justify-content: start;

      .video_reel_description {
        margin-left: 100px;
      }

      .video_reel {
        background-image: url("../../images/video_reel_mini.png");
        width: 329px;
        height: 212px;
      }
    }
  }
}

@media (max-width: 1150px) {
  .about_section {
    .about_us_section {
      .about_design_images {
        background-image: url("../../images/about_design_images_min.png");
        width: 329px;
        height: 340px;
        margin-right: 100px;
      }
    }
    .service_section {
      .service_block {
        margin-top: 124px;
        .service_block_present{
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}

@media (max-width: 1070px) {
  .about_section {
    .how_we_work_section {
      .how_we_work_description {
        .how_we_work_skills {
          display: none;
        }

        .how_we_work_skills_mini {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 1010px) {
  .about_section {

    .about_studio_numbers {
      flex-direction: column;
      align-items: center;
      margin-top: 112px;
    }
    .features_block {
      flex-direction: column;
      align-items: start;
      margin-top: 128px;
      .features_block_presentation {
        margin-left: 0;
        margin-top: 40px;
      }
    }
  }
}

@media (max-width: 890px) {
  .about_section {
    .about_studio_numbers {
      align-items: start;
    }

    .how_we_work_section {
      flex-direction: column;

      .how_we_work_numbers {
        margin-left: 0;
      }
    }

    .video_reel_section {
      flex-direction: column;
      align-items: start;

      .video_reel_description {
        margin-left: 0;
        margin-top: 24px;
      }
    }

    .features_section {
      flex-direction: column-reverse;
      align-items: start;
      margin-top: 81px;

      .features_images {
        margin-left: 0;
      }
    }
    .service_section {
      margin-top: 112px;
      .service_description {
        flex-direction: column;
        .service_images {
          margin: 0;
        }
        .about_service {
          .agency_provides_p {
            display: none;
          }
          .agency_provides_p_mini {
            display: block;
            margin: 26px 0 0 0;
            color: #391400;
            font-size: 20px;
          }
        }
      }
    }
  }
}


@media (max-width: 890px) {
  .about_section {
    .about_us_section {
      flex-direction: column;
      align-items: start;

      .partners_line {
        margin-bottom: 71px;
      }

      .about_design_images {
        margin-right: 0;
        margin-top: 0;
      }

      .about_description {
        margin-top: 25px;

        .p_ability {
          display: none;
        }

        .p_ability_mob {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 750px) {

  .about_section {
    .features_block {
      .features_block_presentation {
        flex-direction: column;
        .accessibility_block {
          margin-top: 0;
        }
      }
    }
  }
}

@media (max-width: 470px) {
  .about_section {
    .features_section {
      .features_description {
        .features_service_p {
          display: none;
        }

        .features_service_p_mini {
          display: block;
          color: #391400;
          font-size: 20px;
          margin: 26px 0 0 0;
        }
      }
    }
  }
}