.services_page_section {
  padding: 73px 135px;
  background-color: #FDF0E9;
  position: relative;

  h1 {
    font-weight: 800;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -2px;
    color: #391400;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #391400;
    opacity: 64%;
  }
  .service_section {
    margin-top: 213px;
    .service_description {
      display: flex;
      justify-content: start;
      align-items: start;

      .service_images {
        width: 580px;
        height: 570px;
        background-image: url("../../images/service_image.png");
        background-repeat: no-repeat;
        margin-right: 120px;
      }
      .about_service{
        margin-top: 39px;
        text-align: start;
        .about_service_p{
          color: #ef6d58;
          font-size: 20px;
          letter-spacing: 1px;
          margin: 0;
        }
        h1 {
          font-size: 40px;
          color: #391400;
          margin-top: 20px;
        }
        .agency_provides_p {
          margin: 26px 0 0 0;
          color: #391400;
          font-size: 20px;
        }
        .about_service_quote {
          display: flex;
          justify-content: start;
          align-items: center;
          margin-top: 31px;
          img {
            margin-right: 20px;
          }
          p{
            font-size: 14px;
            color: #391400;
            margin: 0;
          }
        }
      }
      .about_service_jenny {
        font-size: 16px;
        color: #391400;
        margin: 12px 0 0 0;
        padding-left: 80px;
      }
      button {
        width: 138px;
        height: 48px;
        background-color: #ffffff;
        border: transparent;
        border-radius: 15px;
        color: #391400;
        font-weight: bold;
        font-size: 14px;
        margin-top: 36px;
        cursor: pointer;
      }
      .agency_provides_p_mini {
        display: none;
      }
    }
    .service_block {
      margin-top: 141px;
      text-align: start;
      padding-bottom: 128px;
      p {
        color: #ef6d58;
        font-size: 20px;
        letter-spacing: 1px;
        margin: 0;
      }
      h1 {
        color: #391400;
        font-size: 40px;
        margin: 14px 0 0 0;
      }
      .service_block_present {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-top: 35px;
        div {
          width: 391px;
          height: 400px;
          border-radius: 10px;
          border: 1px solid #f3d1bf;
          position: relative;
          h4 {
            font-size: 24px;
            color: #391400;
            margin: 0;
            padding: 169px 260px 19px 48px
          }
          p{
            font-size: 16px;
            color: #391400;
            margin: 0;
            padding: 0 48px 110px;
          }
        }
      }
      .service_block_present div img:first-child {
        position: absolute;
        top: 48px;
        right: 262px;
        left: 48px;
        bottom: 272px;
      }
      .service_block_present div img:nth-child(2) {
        position: absolute;
        top: 72px;
        right: 286px;
        left: 72px;
        bottom: 296px;
      }
    }
  }
}

@media (max-width: 1360px) {
  .services_page_section {
    padding: 73px 75px;
  }
}

@media (max-width: 1250px) {
  .services_page_section {
    padding: 73px 23px;
  }
}
@media (max-width: 1200px) {
  .services_page_section {
    .service_section {
      .service_description {
        .service_images {
          width: 329px;
          height: 327px;
          background-image: url("../../images/service_image_mini.png");
          background-repeat: no-repeat;
          margin-right: 120px;
        }
      }
      .service_block {
        .service_block_present{
          div {
            width: 329px;
            height: 416px;
          }
        }
      }
    }
  }
}

@media (max-width: 1150px) {
  .services_page_section {
    .service_section {
      .service_block {
        margin-top: 124px;
        .service_block_present{
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}

@media (max-width: 890px) {
  .services_page_section {
    .service_section {
      margin-top: 112px;
      .service_description {
        flex-direction: column;
        .service_images {
          margin: 0;
        }
        .about_service {
          .agency_provides_p {
            display: none;
          }
          .agency_provides_p_mini {
            display: block;
            margin: 26px 0 0 0;
            color: #391400;
            font-size: 20px;
          }
        }
      }
    }
  }
}